body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.resetbtn {
  background-color: #008cba;
  color: white;
  padding: 10px 10px;
  text-align: center;
  font-size: 16px;
  margin: 4px 4px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.plusbtn {
  padding: 5px 23px;
  border: none;
  border-radius: 5px;
}

.timeleft {
  background-color: red;
  color: white;
  padding: 4px 4px;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
